###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = space

# XML project files
[*.{csproj,fsproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON and YAML files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,csx,vb,vbx,fs,fsx,fsi}]
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
